<form class="p-4 border mb-4 rounded" [formGroup] = "formWeb">

  <div>

    <label for="page">Nombre Pàgines</label>
    <div class="d-flex mb-4" >
      <button id="decPage" type="button" class="btn bg-green shadow rounded" (click) = "dec($event, formWeb.get('page'))">-</button>
      <input id="inputLang" [class.is-invalid]="noValid(formWeb.get('page'))" type="text" class="form-control mx-2 text-center" formControlName="page" (change)=" sendDataPanell()"> 
      <button id="incPage" type="button" class="btn bg-green shadow rounded" (click) = "inc($event, formWeb.get('page'))">+</button>

      <!-- question -->
      <div class="question"><fa-icon class="iconQuestion" (click)="openLG(contenido)" [icon]="question"></fa-icon></div>

      <!-- (mouseover)="openLG(contenido)" -->
      <!-- (mouseout)="changeText=false" -->
    </div>

  </div>
  <label for="page">Nombre d'Idiomes</label>

  <div class="d-flex">
    <button id="decLang" type="button" class="btn bg-green shadow rounded" (click) = "dec($event, formWeb.get('language'))">-</button>
    <input [class.is-invalid]="noValid(formWeb.get('language'))" type="text" class="form-control mx-2 text-center" formControlName="language" (change)="sendDataPanell()"> 
    <button id="incLang" type="button" class="btn bg-green shadow rounded" (click) = "inc($event, formWeb.get('language'))">+</button>
          <!-- question -->
    <div class="question"><fa-icon class="iconQuestion" (click)="openLG(contenido2)" [icon]="question"></fa-icon></div>
    
  </div>

</form>


<!-- templates -->
<ng-template #contenido let-modal>
<div class="modal-body text-center">
  Specify the number of pages for your Web site.
</div>
</ng-template>
<ng-template #contenido2 let-modal>
<div class="modal-body text-center">
    Specify the number of languages for your Web site.
</div>
</ng-template>






