<div class="container">
  <div class="row d-flex justify-content-center p-3">
    <img class="p-0" src = "{{shipInfo.image}}" alt="">
  </div>
  <div class="row">
    <div class="col-12 py-3">
      <h2>{{shipInfo.name}}</h2>
    </div>

    <div class="col-md-6">
      <p>{{shipInfo.model}}</p>
      <p>{{shipInfo.cost_in_credits}}</p>
      <p>{{shipInfo.max_atmosphering_speed}}</p>
    </div>
    <div class="col-md-6">
      <p>{{shipInfo.manufacturer}}</p>
      <p>{{shipInfo.length}}</p>
      <p>{{shipInfo.crew}}</p>

    </div>
  </div>
</div>

