.budget {
  background-color:rgba(27, 121, 184, 0.267);
  margin:10px auto;
}

.client {
  font-size:1.2rem;
  border-bottom:1px solid white;
}

.amount {
  color:#3aa19a;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
}

.product{
  padding-top: 15px;
  .subList{
    color: rgb(167, 167, 167);
  }
}

.gray {
  color:rgba(101, 110, 119, 0.671);
}

.date {
  font-size:0.7rem;
}

.search {
  font-size:1.2rem;
  background-color: rgba(107, 123, 158, 0.246);
}