<h3 class="text-center pt-5 pt-md-0">Budget List</h3>

<!-- buscador -->
<div class="form-group mx-sm-3 mb-2">

  <div class="row search rounded">
    <div class="col-1 py-4">
      <label for="filterList"><fa-icon class="text-white" [icon] ="search"></fa-icon></label>
    </div>
    <div class="col">
      <input type="text" id="filterList" class="form-control form-control-sm my-4" name="filterList" [(ngModel)] = "filterList" placeholder= "Search...">
    </div>
  </div>
</div>

<!-- botones para ordenar  -->
<div class="btn d-flex justify-content-center btn-group btn-group-toggle">
  <button type ="button" (click)="sortBudget()" class="btn bg-light border gray">A-Z</button> 
  <button type ="button" (click)="sortTime()" class="btn bg-light border"><fa-icon class="gray" [icon] ="clock"></fa-icon></button> 
  <button type ="button" (click)="resetArray()" class="btn bg-light border"><fa-icon class="gray" [icon]="hippo"></fa-icon></button> 
</div>



<div  *ngFor = "let budget of budgets | filter:filterList">
  <div class="budget rounded p-3"  *ngIf="budget.total != 0">
    
    <div class="client d-flex justify-content-between">
      <p><strong>{{budget.budgetName}}</strong>  by {{budget.clientName}} </p><p><span class="amount px-3">{{budget.total}} $</span></p>
    </div>
    
    <ul>
      <li class="product" *ngFor = "let product of budget.products">
        <p>{{product.slice(0,-6)}}</p>
        <p class="subList" *ngIf = "product == 'A Web page (500$)'">
        </p>
      </li>
    </ul>
    <div class="text-end">
      <p class="m-0 date">{{budget.date}}</p>
    </div>

  </div>

</div>