

.wrapp {
  margin-top:2px;
  max-width:800px;
  width:90%;
}

.btn-blue {
  background-color:#18174e;
  color:white;
  font-size:.8rem;
  margin-top:50px ;
}

.back {
  position: fixed;
  bottom:-2px;
  right:-2px; 
  color: #43c6ac;
  .btn {
    background-color: #067270cb;
    font-size:.8rem;
  }
}

.total {
  .number{
    font-size:2rem;
    padding:0 10px;
    font-family: 'Montserrat', sans-serif;
  }
}


