
<div class="container p-3">

  <h4>Que vols fer??</h4>

  <form>

    <!-- Bucle que itera x los productos y recibe la informacion del checkbox, problemas con el panel secundario
    <div class="form-input" *ngFor="let product of products">
      <input type="checkbox" id="web" class="form-check-input me-2" name="pressupost" [(ngModel)] = "product.checked" (change) ="getTotal()">
      <label for="web">{{product.name}}</label>
    </div> -->

    <div class="form-input">
      <input type="checkbox" id="web" class="form-check-input me-2" name="pressupost" [(ngModel)] ="products[0].checked" (change) ="getTotal()">
      <label for="web">{{products[0].name}}</label>
      <div >

        <!-- componente hijo -->
        <div *ngIf="products[0].checked">
          <app-panell (paginaEv)="getPagina($event)" (idiomaEv) ="getIdioma($event)"></app-panell>
        </div>


      </div>
    </div>
    <div class="form-input">
      <input type="checkbox" id="seo" class="form-check-input me-2" name="pressupost" [(ngModel)] ="products[1].checked" (change) ="getTotal()">
      <label for="seo">{{products[1].name}}</label>
    </div>
    <div class="form-input">
      <input type="checkbox" id="google" class="form-check-input me-2" name="pressupost" [(ngModel)] ="products[2].checked" (change) ="getTotal()">
      <label for="google">{{products[2].name}}</label>
    </div>

  </form>

  <div>
    <b>
      {{finalPrice}}
    </b>
  </div>

</div>







