<ngb-carousel >
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../../../assets/img/img-pnm-3.jpg" class="d-block w-100" alt="Random first slide">
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../../../assets/img/img-pnm.jpg" alt="Random second slide" class="d-block w-100">
    </div>

  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../../../assets/img/img-pnm-2.jpg" class="d-block w-100" alt="Random third slide">
    </div>
  </ng-template>
</ngb-carousel>

<div class="start animation-start">
  <a href="#" class="btn-start text-end" [routerLink]="['/home']">LET'S GET STARTED</a>
</div>





<!-- Carousel wrapper -->


<!-- Place in Body where you'd like intro to appear

<div class="wrapp">

  <div class="star-wars-intro">
  
    Blue Intro Text -->
    <!-- <p class="intro-text">
      A few days ago, during...
    </p> -->
  
    <!-- Logo Image or Text goes in here -->
    <!-- <h2 class="main-logo">
      <img src="../../../assets/img/logo.jpg">
    </h2> -->
  
    <!-- All Scrolling Content Goes in here -->
    <!-- <div class="main-content">
  
      <div class="title-content">
        <p class="content-header"><br/></p>
  
        <br>
  
        <p class="content-body">
          After years of galactic silence, civilization is on the brink of a new Star Wars release. Now, with the Force preparing to awaken, the people of Earth seek solace in films of old. With nowhere to turn, they gather in great numbers and watch the original trilogy without rest. Three films. 6 hours. 24 minutes. Popcorn. Slushies. Total elation.
   
         button or link or whatever -->
        <!-- <a  class="space-button">Search info</a>
          
      </div>
    </div>
  </div>


</div>


<div class="container-fluid"> -->

<!-- </div> -->
