<div class="container-fluid wrapp d-flex align-items-center justify-content-center">

  <div class="row text content d-flex justify-content-center p-4">

    <div class="col">
      <h2 class="text-center text-white fontTitle rounded">Encara buscant solucions per la teva web?</h2>
    </div>


    <div class="coltext text text-white ">
      <p>Disseny Web, Consultoria SEO, campanya de Google Ads. Tot el que necesites per la teva web. Utilitza la nostra calculadora de pressupostos i podràs saber facilment i de manera inmediata el cost del teu producte:</p>

      <button [routerLink]="['/home']" type="button" class="btn bg-white text-pink rounded shadow">Vull saber el meu pressupost</button>
  
    </div>
  </div>

</div>
