
.wrapp {
  background-image: url(../../../img/handGreen.jpg);
  background-size: cover;
  height: 100vh;
}


.fontTitle {
  font-family: 'Montserrat', sans-serif;
  border-style: dotted;
  border-width: 5px;
  padding:50px;

}

.text{
  padding:50px;
  font-size: 1.2rem;
}

.content {
  max-width: 1100px;
}

.text-pink{
  color:rgb(50, 148, 127)
}

.btn {
  font-size: 0.8rem;
  padding:10px 20px;
}


